html {
  background-image: url("../images/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}
